.header {
    background-color: #464242;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__link {
        color: #978f8f;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 10px;
        transition: color 0.3s ease;
    }
    &__link:hover {
        color: #d4d4d4;
    }
    .active {
        color: #ffffff;
    }
}
